.footer{
    background-color: grey;
    height: 70px;

}
.ig{
    height: 60px;
    padding: 10px;
}
.tk{
    height: 60px;
    padding: 10px;
}
.fb{
    height: 60px;
    padding: 10px;
}
.seccionfooter{
    display: flex;
    justify-content: center;
}
